
target/classes/application.properties
target/classes/com/demo/mail/Application.class
target/classes/com/demo/mail/config/ApiCofig.class
target/classes/com/demo/mail/dto/MailRequest.class
target/classes/com/demo/mail/dto/MailResponse.class
target/classes/com/demo/mail/service/MailService.class
target/classes/META-INF/maven/com.demo.mail/Email-Notification-POC/pom.properties
target/classes/META-INF/maven/com.demo.mail/Email-Notification-POC/pom.xml
target/classes/templates/email-template.ftl
target/test-classes/com/skiply/mail/poc/Email/Notification/POC/EmailNotificationPocApplicationTests.class
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.springBeans
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
